.mediaViewInfo {
	--web-view-name: Portada;
	--web-view-id: Portada;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: height;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-navigate-on-keypress: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Portada;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.Portada_Class {
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Portada;
	--web-view-id: Portada;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: height;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-navigate-on-keypress: true;
	--web-enable-deep-linking: true;
}
.Rect_ngulo_5 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 200px;
	left: 0px;
	top: 0px;
}
.Trazado_2 {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 120px;
	left: 0px;
	top: 960.399px;
	transform: matrix(1,0,0,1,0,0);
}
.REGISTRARSE_Class {
	position: absolute;
	left: 1468px;
	top: 88px;
	overflow: visible;
	width: 133px;
	white-space: nowrap;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
.Trazado_3 {
	overflow: visible;
	position: absolute;
	width: 209.044px;
	height: 64px;
	left: 1649.956px;
	top: 68px;
	transform: matrix(1,0,0,1,0,0);
}
.INGRESAR_Class {
	position: absolute;
	left: 1704.5px;
	top: 88px;
	overflow: visible;
	width: 101px;
	white-space: nowrap;
	text-align: center;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(218,83,44,1);
}
.gente_negocios_trabajando_comp_Class {
	position: absolute;
	width: 1233.508px;
	height: 760.38px;
	left: 0px;
	top: 200px;
	overflow: visible;
}
.LOGO_Class {
	position: absolute;
	width: 418px;
	height: 111px;
	left: 75px;
	top: 45px;
	overflow: visible;
}
.ACERCA_DE_Class {
	position: absolute;
	left: 1308px;
	top: 89px;
	overflow: visible;
	width: 111px;
	white-space: nowrap;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
.Rect_ngulo_183 {
	position: absolute;
	overflow: visible;
	width: 686px;
	height: 760px;
	left: 1234px;
	top: 200px;
}
.DBSp_Group_____Todos_los_derec_Class {
	position: absolute;
	left: 1445px;
	top: 1006px;
	overflow: visible;
	width: 411px;
	white-space: nowrap;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(190,190,190,1);
}
.Una_soluci_n_simple_Class {
	position: absolute;
	left: 1308px;
	top: 338px;
	overflow: visible;
	width: 310px;
	white-space: nowrap;
	line-height: 58px;
	margin-top: -11.5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: lighter;
	font-size: 35px;
	color: rgba(67,66,93,1);
}
.a_problemas_complejos_Class {
	position: absolute;
	left: 1308px;
	top: 380px;
	overflow: visible;
	width: 419px;
	white-space: nowrap;
	line-height: 58px;
	margin-top: -9px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(67,66,93,1);
}
.Cree_una_base_de_datos_ahora___Class {
	position: absolute;
	left: 1308px;
	top: 608px;
	overflow: visible;
	width: 456px;
	white-space: nowrap;
	line-height: 58px;
	margin-top: -11.5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: lighter;
	font-size: 35px;
	color: rgba(0,0,0,1);
}